EVPN support in L2NM: EVPN Flavors

EVPN has many flavors, VPN node can have different mode type, e.g., EVI  node, VNI node, Bridge Domain Node, etc
Here is the proposed parameter under vpn-node list
   identity evpn-instance-type {
     description
       "Base identity for EVPN Instance type.";
   }
   identity vxlan {
     base evpn-instance-type;
     description
       "Identity for vxlan evpn type.";
   }
   identity evi {
     base evpn-instance-type;
     description
       "Identity for mpls evpn type.";
   }
   identity pbb {
     base evpn-instance-type;
     description
       "Identity for pbb evpn type.";
   }
   identity vpws {
     base evpn-instance-type;
     description
       "Identity for vpws evpn type.";
   }
   leaf mode-type {
   type identityref {
	base evpn-instance-type;
	}
		description
			"Evpn instance type.";
	}

In the current version the model have the following flavors:

```
identity service-type {
    description
      "Identity of service type.";
  }

  identity l3vpn {
    base service-type;
    description
      "Identity for L3VPN service.";
    reference
      "RFC 4364: BGP/MPLS IP Virtual Private Networks (VPNs)";
  }

  identity vpls {
    base service-type;
    description
      "Identity for the VPLS service type.";
    reference
      "RFC 4761: Virtual Private LAN Service (VPLS) Using BGP for
                 Auto-Discovery and Signaling
       RFC 4762: Virtual Private LAN Service (VPLS) Using Label
                 Distribution Protocol (LDP) Signaling";
  }

  identity vpws-evpn {
    base service-type;
    description
      "Identity for the Point-to-point Virtual Private Wire Service
       (VPWS) service type.";
    reference
      "RFC8214: Virtual Private Wire Service Support in Ethernet VPN";
  }

  identity pbb-evpn {
    base service-type;
    description
      "Identity for Provider Backbone Bridging (PBB) EVPNs.";
    reference
      "RFC 7623: Provider Backbone Bridging Combined with Ethernet VPN
                (PBB-EVPN)";
  }

  identity mpls-evpn {
    base service-type;
    description
      "Identity for MPLS based EVPNs.";
    reference
      "RFC 7432: BGP MPLS-Based Ethernet VPN";
  }

  identity vxlan-evpn {
    base service-type;
    description
      "Identity for VXLAN based EVPNs.";
    reference
      "RFC 8365: A Network Virtualization Overlay Solution Using
                 Ethernet VPN (EVPN)";
  }
``` 