Dhruv's review comments from WG adoption

Hi, 

The work seems to be quite useful. I support adoption by the WG. 

A few comments - 

(1) If the model supports L2VPN, I think we need to add the L2-level counters in the vpn-summary-statistics. Currently we only have IPv4 and IPv6 routes. 

[Bo] needs further discussion

(2) Section 3  

   The performance monitoring information reflecting the quality of the
   Network or VPN service such as end to end network performance data
   between source node and destination node in the network or between
   VPN sites can be aggregated or calculated using, for example, PCEP
   solution [RFC8233] [RFC7471] [RFC8570] [RFC8571] or LMAP [RFC8194].

I suggest changing "PCEP" to more generic term "Traffic Engineering Database (TED)".
 //Editorial

(3) Section 3.2 

3.2.  On demand Retrieval via RPC Model

   To obtain a snapshot of a large amount of performance data from a
   network element (including network controllers), service-assurance
   applications may use polling-based methods such as RPC model to fetch
   performance data on demand.

Do you mean the usual Netconf <get>? Not sure about the term "RPC model". Maybe refer to it as just polling mechanism. 
 //Editorial, should be  Netconf <get>

(4) Section 4.1 

I am not sure about the depiction of how PE map to CE and further map to Nodes in the underlying network in Figure 3. 

In the YANG we have node-type that can be PE, CE, or P and this figure does not help. Its possible I might be seeing it wrong :) 

Also the mapping in the figure and the text for Node 3 and 4 don't match. 

In "Site-2 A and B play the role of hub while Site-2 C plays the role of spoke.", did you intend to have 2 hub and 1 spoke? 
//Editorial，fix the figure

(5) Section 4.2

   For network performance monitoring, the attributes of "Network Level"
   that defined in [RFC8345] do not need to be extended.

[RFC8345] does not use the term "Network Level". I am wondering if we should use the full path /nw:networks/nw:network/ or container name instead...

Also applicable to 4.3   

The "vpn-id" is just a string and would also depend on the network-service-type (L3VPN, L2VPN); IMHO some text to describe this is needed. 
//Editorial，will fix

(6) Section 4.3

Not clear on why node-type is marked as (Attribute) but site-id and site-role are (Constraint). 

Can you expand on "site-id", is this matching with L3SM site-id or L3NM's vpn-network-access? 

The type should be yang:counter32 instead of uint32 for - 

       +--rw vpn-summary-statistics
          +--rw ipv4
          |  +--rw total-routes?          uint32
          |  +--rw total-active-routes?   uint32
          +--rw ipv6
             +--rw total-routes?          uint32
             +--rw total-active-routes?   uint32

//Editorial，will fix
(7) Section 7

(a)

  identity link-type {
    base vpn-common:protocol-type;
    description
      "Base identity for link type, e.g.,GRE, MPLS TE, VXLAN.";
  }

  identity VXLAN {
    base link-type;
    description
      "Base identity for VXLAN Tunnel.";
  }

  identity ip-in-ip {
    base link-type;
    description
      "Base identity for IP in IP Tunnel.";
  }

What is the benefit of creating link-type as an identity? Can VXLAN and ip-in-ip directly use vpn-common:protocol-type as a base? 
//Editorial，will fix

(b)

    leaf outbound-qlen {
      type uint32;
      description
        " Length of the queue of the interface from where
          the packet is forwarded out.  The queue depth could
           be the current number of memory buffers used by the
          queue and a packet can consume one or more memory buffers
          thus constituting device-level information.";
    }
    description
      "Grouping for interface service telemetry.";
  }

Since these are abstract nodes how do we know this information?
//Editorial，will fix

(c)

    leaf reference-time {
      type yang:date-and-time;
      description
        "The time that the current Measurement Interval started.";
    }

Shouldn't this be config false?    

//Editorial，will fix
==

Suggestion: 

Can we add an example of how percentile is used and reported in the appendix?
//Editorial，will fix

Hope you find these comments useful.

Thanks! 
Dhruv


@lana-wu: some of these comments are fixed in the new version, but it would be cool if you double check. Thank you. 

(1) If the model supports L2VPN, I think we need to add the L2-level counters in the vpn-summary-statistics. 
Currently we only have IPv4 and IPv6 routes.

[Bo] Agree, a container of 'mac-num' added.

(2) Section 3

The performance monitoring information reflecting the quality of the
Network or VPN service such as end to end network performance data
between source node and destination node in the network or between
VPN sites can be aggregated or calculated using, for example, PCEP
solution [RFC8233] [RFC7471] [RFC8570] [RFC8571] or LMAP [RFC8194].

I suggest changing "PCEP" to more generic term "Traffic Engineering Database (TED)".
Bo：Thanks, replaced with TED.

(3) Section 3.2

3.2. On demand Retrieval via RPC Model

To obtain a snapshot of a large amount of performance data from a
network element (including network controllers), service-assurance
applications may use polling-based methods such as RPC model to fetch
performance data on demand.

Do you mean the usual Netconf ? Not sure about the term "RPC model". Maybe refer to it as just polling mechanism.
Bo: Agree, updated the section name and also text.

(4) Section 4.1

I am not sure about the depiction of how PE map to CE and further map to Nodes in the underlying network in Figure 3.

In the YANG we have node-type that can be PE, CE, or P and this figure does not help. Its possible I might be seeing it wrong :)

Also the mapping in the figure and the text for Node 3 and 4 don't match.

In "Site-2 A and B play the role of hub while Site-2 C plays the role of spoke.", did you intend to have 2 hub and 1 spoke?
Bo: Agree, redrawed the diagram and fix the mapping.

(5) Section 4.2

For network performance monitoring, the attributes of "Network Level"
that defined in [RFC8345] do not need to be extended.

[RFC8345] does not use the term "Network Level". I am wondering if we should use the full path /nw:networks/nw:network/ or container name instead...

Also applicable to 4.3

The "vpn-id" is just a string and would also depend on the network-service-type (L3VPN, L2VPN); IMHO some text to describe this is needed.
Bo: Agree. Changed to container name "network" of [RFC8345].Also added reference to "vpn-id" of draft-ietf-opsawg-vpn-common.

(6) Section 4.3

Not clear on why node-type is marked as (Attribute) but site-id and site-role are (Constraint).

Can you expand on "site-id", is this matching with L3SM site-id or L3NM's vpn-network-access?

The type should be yang:counter32 instead of uint32 for -

   +--rw vpn-summary-statistics
      +--rw ipv4
      |  +--rw total-routes?          uint32
      |  +--rw total-active-routes?   uint32
      +--rw ipv6
         +--rw total-routes?          uint32
         +--rw total-active-routes?   uint32

Bo: Agree. Cleaned up the text, added a container of "mac-num" and 
alligned the term and type with 
'maximum-routes' of draft-ietf-opsawg-l3sm-l3nm and 
'mac-num-limit' of draft-ietf-opsawg-l2nm


(7) Section 7

(a)

identity link-type {
base vpn-common:protocol-type;
description
"Base identity for link type, e.g.,GRE, MPLS TE, VXLAN.";
}

identity VXLAN {
base link-type;
description
"Base identity for VXLAN Tunnel.";
}

identity ip-in-ip {
base link-type;
description
"Base identity for IP in IP Tunnel.";
}

What is the benefit of creating link-type as an identity? Can VXLAN and ip-in-ip directly use vpn-common:protocol-type as a base?
Bo: Agree and changed to use "protocol-type" and added the reference.

(b)

leaf outbound-qlen {
  type uint32;
  description
    " Length of the queue of the interface from where
      the packet is forwarded out.  The queue depth could
       be the current number of memory buffers used by the
      queue and a packet can consume one or more memory buffers
      thus constituting device-level information.";
}
description
  "Grouping for interface service telemetry.";
}

Since these are abstract nodes how do we know this information?
Bo: Agree and removed this leaf.

(c)

leaf reference-time {
  type yang:date-and-time;
  description
    "The time that the current Measurement Interval started.";
}
Shouldn't this be config false?

Bo: Changed to config false.

Can we add an example of how percentile is used and reported in the appendix?
Bo: Added A.3.  Example of Percentile Monitoring

Hope you find these comments useful.

Thanks!
Dhruv