add EVPN variants from RFC 7432 to L2NM

RFC 7432, Section 6 describes the following EVPN variants. It would be good to add them to the L2NM model, as the device configuration is determined by which variant is required for a particular EVPN instance. 

VLAN-Based Service Interface
VLAN Bundle Service Interface
VLAN-Aware Bundle Service Interface