Simplify diversity-redundancy

We created a placeholder for items that seem to overlap.

```
                       +--rw TO-SIMPLFY-diversity-redundancy-TO-SIMPLFY
                       |  +--rw access-diversity {vpn-common:placement-diversity}?
                       |  |  +--rw groups
                       |  |     +--rw group* [group-id]
                       |  |        +--rw group-id                       string
                       |  |        +--rw fate-sharing-group-size?       uint16
                       |  |        +--rw group-color?                   string
                       |  |        +--rw ethernet-segment-identifier?   yang:hex-string
                       |  |        +--rw esi-redundancy-mode?           identityref
                       |  +--rw constraints
                       |  |  +--rw constraint* [constraint-type]
                       |  |     +--rw constraint-type    identityref
                       |  |     +--rw target
                       |  |        +--rw (target-flavor)?
                       |  |           +--:(id)
                       |  |           |  +--rw group* [group-id]
                       |  |           |     +--rw group-id    string
                       |  |           +--:(all-accesses)
                       |  |           |  +--rw all-other-accesses?   empty
                       |  |           +--:(all-groups)
                       |  |              +--rw all-other-groups?     empty
                       |  +--rw availability
                       |  |  +--rw access-priority?       uint32
                       |  |  +--rw (redundancy-mode)?
                       |  |     +--:(single-active)
                       |  |     |  +--rw single-active?   boolean
                       |  |     +--:(all-active)
                       |  |        +--rw all-active?      boolean
                       |  +--rw precedence
                       |     +--rw precedence?   identityref
```
reconsider if access-diversity makes sense in the l2nm. 

Certainly ethernet-segment-identifier is needed somewhere. But it could go directly under vpn-network-access. I don't think we need group-id and constraints in the l2nm, do you know a use-case for it? 

Update Ethernet segment identifier to cover explicit generated and auto-asign according to the rules of section 5 of RFC 7432 

Include DF election method (see draft-ietf-bess-evpn-pref-df-06)

>                        |  +--rw constraints
>                        |  |  +--rw constraint* [constraint-type]
>                        |  |     +--rw constraint-type    identityref
>                        |  |     +--rw target
>                        |  |        +--rw (target-flavor)?
>                        |  |           +--:(id)
>                        |  |           |  +--rw group* [group-id]
>                        |  |           |     +--rw group-id    string
>                        |  |           +--:(all-accesses)
>                        |  |           |  +--rw all-other-accesses?   empty
>                        |  |           +--:(all-groups)
>                        |  |              +--rw all-other-groups?     empty

This part of the module makes sense in the service module as it may impact how to attach a site. at the network level, these constraints are supposed to be taken into account (selection of PE, interfaces, etc.). I suggest we remove this from the L2NM.

>                        |  |  +--rw (redundancy-mode)?
>                        |  |     +--:(single-active)
>                        |  |     |  +--rw single-active?   boolean
>                        |  |     +--:(all-active)
>                        |  |        +--rw all-active?      boolean

This part is redundant with "esi-redundancy-mode" for the evpn case. 

>                        |  |        +--rw fate-sharing-group-size?       uint16
>                        |  |        +--rw group-color?                   string

I lost the context about these two. What is the purpose of these two and how this is used to infer the underlying config?

>                        |  +--rw precedence
>                        |     +--rw precedence?   identityref

The description refers to primary and secondary "L2VPN". That's vague. 

> > ```
> >                    |  +--rw precedence
> >                    |     +--rw precedence?   identityref
> > ```
> 
> The description refers to primary and secondary "L2VPN". That's vague.

The use case for the precedence is the following:

![image](https://user-images.githubusercontent.com/13772485/123271248-ed20d400-d500-11eb-8801-5bda2f90d9fe.png)

The group-id combined with the precedence serves to model the primary and backup on the same vpn-node.
So we agree to improve the description of the Leaf and Identities to reflect the use case usage and make it more clear. 

